kind: Service
apiVersion: v1
metadata:
  name: aurora-discovery-service
  namespace: default
spec:
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
  selector:
    run: discovery
  type: ClusterIP
status:
  loadBalancer: {}